$textMain: #000000;
$textSecondary: rgba(60, 60, 67, 0.8);
$textTags: rgba(60, 60, 67, 0.5);

$white: #ffffff;
$active: rgba(113, 78, 255, 1);

$border: rgba(151, 151, 151, 0.3);

$blueBorder : rgba(204, 215, 241, 1)