.sliderContainer {
  width: 649px;
  overflow: hidden;
  position: relative;

  .arrow {
    position: absolute;
    top: 120px;
    z-index: 100;

    cursor: pointer;
  }

  .arrowRight {
    right: 12px;
  }

  .arrowLeft {
    transform: rotateY(180deg);
    left: 12px;
  }
}

.sliderContainerDesktop {
  display: block;
}

.sliderContainerTablet {
  display: none;
}

.sliderContainerMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .sliderContainer {
    width: 360px;
  }

  .sliderContainerDesktop {
    display: none;
  }
  .sliderContainerTablet {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: center;
    justify-items: center;

    .arrowRight {
      right: 12px;
    }

    .arrowLeft {
      transform: rotateY(180deg);
      left: 12px;
    }
  }
}

@media screen and (max-width: 640px) {
  .sliderContainer {
    width: 360px;
    justify-content: center;
  }

  .sliderContainerDesktop,
  .sliderContainerTablet {
    display: none;
  }
  .sliderContainerMobile {
    display: flex;
    margin: 0 auto;
    width: 305px;
    //padding-top: 40px;
    align-content: center;
    align-items: center;

    // .arrowLeft, .arrowRight {
    //   display: none;
    // }

    .arrowRight {
      right: -12px;

      svg {
        rect {
          fill: transparent;
        }
      }
    }

    .arrowLeft {
      transform: rotateY(180deg);
      left: -12px;

      svg {
        rect {
          fill: transparent;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .sliderContainerMobile {
    display: flex;
    margin: 0 auto;
    width: 240px;

    .arrowLeft, .arrowRight {
      display: none;
    }
  }
}
