.swiper-container {
  position: relative;
  padding-top: 50px; /* Adjust based on your layout */
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  z-index: 10;
}

/* .arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
} */