@import "../../styles/variables";

input::placeholder {
  color: $textSecondary; /* Firefox reduces the opacity by default */
  opacity: 1;
}

/* For webkit browsers (Chrome, Safari, Opera) */
input::-webkit-input-placeholder {
  color: $textSecondary;
}

/* For Mozilla Firefox 19+ */
input::-moz-placeholder {
  color: $textSecondary;
  opacity: 1; /* Override Firefox default opacity */
}

/* For Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
  color: $textSecondary;
  opacity: 1;
}

/* For Internet Explorer 10-11 */
input:-ms-input-placeholder {
  color: $textSecondary;
}

.tripInfoContainer {
  width: 100%;
  display: grid;
  margin-bottom: 24px;
}

.tripInfoTop {
  width: 100%;
  border-radius: 16px;
  padding: 24px;
  border: 1px solid $border;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 93px;
  margin-bottom: 60px;

  .infoItem {
    // p first child
    p:first-child {
      font-size: 15px;
      font-weight: 400;
      color: $textSecondary;
    }

    // p second child
    p:nth-child(2) {
      font-size: 16px;
      font-weight: 500;
      color: $textMain;
    }
  }

  .viewItineraryLink {
    justify-self: end;
    color: active;
    transition: 0.3s all;
    font-size: 15px;
    font-weight: 500;
    &:hover {
      opacity: 0.8;
    }
  }
}

.tripInfoMain {
  display: grid;
  margin-bottom: 56px;
  .infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h1 {
      font-size: 28px;
      font-weight: 600;
    }

    .actions {
      display: flex;
      gap: 10px;

      button {
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid $border;
        font-size: 15px;
        font-weight: 500;
        height: 33px;
        display: flex;
        padding: 0px 12px 0px 4px;
        align-items: center;
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
          background-color: $active;
          color: white;

          svg {
            path {
              stroke: white;
              fill: transparent;
            }
          }
        }
      }

      .wishListBtn {
      }
    }
  }

  .infoContent {
    display: grid;

    .expert {
      display: flex;
      gap: 16px;
      align-items: center;
      margin-bottom: 16px;

      .profileImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .expertInfo {
        display: grid;
        h3 {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.3px;
        }

        p {
          font-size: 15px;
          color: $textSecondary;
          font-weight: 400;
        }
      }
    }

    .paragraph {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.41px;
    }
  }
}

.itinerary {
  display: grid;
  row-gap: 24px;
  h2 {
    font-size: 22px;
    font-weight: 600;
  }

  form {
    background-color: rgba(220, 227, 246, 0.5);
    width: 100%;
    border: 1px solid $blueBorder;
    padding: 24px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 16px;

    .flightInputs {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: space-between;

      input {
        width: 170px;
        height: 40px;
        border: 1px solid $border;
        border-radius: 8px;
        color: $textSecondary;
        font-size: 15px;
        font-weight: 400;
        padding: 9.5px 0 9.5px 16px;
        &:focus {
          outline: 1px solid $blueBorder !important;
        }
      }
    }

    .otherInputs {
      display: flex;
      gap: 16px;
      width: 100%;
      .dates {
        position: relative;
        svg {
          position: absolute;
          left: 4px;
          top: 4px;
          z-index: 100;
        }
        input {
          width: 157px;
          height: 40px;
          padding-left: 40px;
          border: 1px solid $border;
          border-radius: 8px;
          background-color: white !important;
          color: $textSecondary !important;
          outline: none;
          &:focus {
            outline: 1px solid $blueBorder !important;
          }
        }
      }

      .persons {
        position: relative;

        svg {
          position: absolute;
          top: 4px;
          left: 4px;
        }
        input {
          width: 70px;
          height: 40px;
          border: 1px solid $border;
          border-radius: 8px;
          padding-left: 44px;
          padding-right: 5px;
          color: $textSecondary;
          font-size: 15px;
          font-weight: 400;

          outline: none;
          &:focus {
            outline: 1px solid $blueBorder !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tripInfoTop {
    display: grid;
    width: 360px;
    justify-self: center;
    grid-template-columns: 1fr auto;
    height: 100%;
    column-gap: 16px;
    justify-content: center;
    justify-items: start;

    .viewItineraryLink {
      justify-self: start;
    }
  }

  .itinerary {
    form {
      justify-self: center;
      grid-template-columns: 1fr;
      width: 480px;
      row-gap: 20px;

      .otherInputs {
        justify-content: space-between;
      }
    }
  }

  .tripInfoContainer {
    row-gap: 32px;
  }
}

@media screen and (max-width: 590px) {
  .tripInfoMain {
    margin-bottom: 0;
    .infoHeader {
      display: grid;
      align-items: start;
      row-gap: 8px;
      h1 {
      }
    }
  }

  .itinerary {
    form {
      width: 100%;

      .flightInputs {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

        svg {
          justify-self: center;
          transform: rotateZ(90deg);
        }
        input {
          width: 100%;
        }
      }

      .otherInputs {
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .tripInfoTop {
    display: grid;
    width: 258px;
    
  }
}

@media screen and (max-width: 370px) {
  .itinerary {
    form {

      .flightInputs {

        svg {
        }
        input {
        }
      }

      .otherInputs {
        display: grid;

        .dates{
          input{
            width: 100%;
          }
        }
      }
    }
  }
}
